ConnectionStrings__DefaultConnection=Host=TU_HOST_SUPABASE;Port=6543;Database=postgres;Username=TU_USUARIO;Password=TU_PASSWORD;SSL Mode=Require;Trust Server Certificate=true
Jwt__Key=CAMBIA_ESTA_CLAVE_POR_UNA_MUY_LARGA_Y_SECRETA
Jwt__Issuer=LaGuaridaApi
Jwt__Audience=LaGuaridaFrontend
Cors__AllowedOrigins__0=https://TU_FRONTEND.vercel.app
